################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FinalProject/DesignTimeBuild/-DESKTOP-EMKITA7.dtbcache
