@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewData["Title"] = "Create";
}
<style>
    body {
        color: white;
        text-align: center;
    }

    .row {
        justify-content: space-around;
    }
</style>
<h2>Create</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" type="text" value="" id="guidId" placeholder="Genereate Id (Won't be shown Until Created)" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
                <button id="generateGuid" type="button" onclick="GuidGenerator()" class="btn btn-success">Generate GUID</button>


            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">
    function GuidGenerator() {
        document.getElementById('guidId').value = guid();
</script>